---
layout: default
---

<div class="home">

 <header class="post-header">
<h2 class="post-title">Welcome to Freesound Labs!</h2>

<p><strong>Freesound Labs</strong>  is a directory of projects, hacks, apps, research and other initiatives that use content from <a href="https://www.freesound.org">Freesound</a> or use the <a href="https://www.freesound.org/docs/api/">Freesound API</a>. You can use the list below to explore what has been done using Freesound, or use the <a href="/browse/">Browse</a> section to search content according to tags and categories. Check the <a href="/about/">About</a> page for more information on Freesound Labs. This site is run by the Freesound Team at the <a href="http://mtg.upf.edu">Music Technology Group</a> of <a href="http://www.upf.edu">Universitat Pompeu Fabra</a>. Feel free to contact us if you have any questions, comments or suggestions.</p>

</header>

<!-- div style="float:left;" class="latest_additions">Latest additions</div -->
<div style="float:right;">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous"><<</a>
  {% else %}
  {% endif %}
  <span class="page_number ">page  {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">>></a>
  {% endif %}
</div>
<br style="clear:both;">
<div class="content_separator"></div>
 
  <article class="post-content">
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
      <table>
        <tr>
        <td style="vertical-align: top;{% if post.image %} padding-right:15px;{% endif %} max-width:840px;">
          <h2 style="margin-bottom:0px;"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
          <p>{{ post.content | strip_html | truncatewords: 35 }}</p>
          <span class="post-meta">
            {% for cat in post.categories %} <a href="/category/{{ cat }}" style="margin-right:5px; color:#828282;">{{cat}}</a> {% endfor %} |&nbsp;
            {% for tag in post.tags %} <a href="/tag/{{ tag }}" style="margin-right:5px; color:#828282;">{{tag}}</a> {% endfor %}
          </span>
          {% if post.url %}
          <br><span class="post-meta"><a href="{{ post.project_url }}" target="_blank">{{ post.project_url }}</a></span>
          {% endif %}
        </td>
        {% if post.image %}
        <td class="thumbnail_cell" style="vertical-align: middle;">
            <p><img src="{{post.image}}" alt="{{ post.title }} thumbnail" style="border-radius:3px;"></p>
        </td>
        {% endif %}
        </tr>
      </table>
      </li>
    {% endfor %}
  </ul>
  </article>


<div class="content_separator"></div>
<div style="float:right;">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous"><<</a>
  {% else %}
  {% endif %}
  <span class="page_number ">page  {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">>></a>
  {% endif %}
</div>
<br style="clear:both;">

</div>
