arrow==0.15.5
beautifulsoup4==4.8.2
bibtexparser==1.1.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==3.3.2
future==0.18.2
idna==2.9
pycparser==2.19
pyOpenSSL==19.1.0
pyparsing==2.4.6
python-dateutil==2.8.1
python-slugify==4.0.0
requests==2.23.0
scholarly==0.2.5
six==1.14.0
soupsieve==1.9.5
text-unidecode==1.3
urllib3==1.25.8